# Created by .gitignore support plugin (hsz.mobi)
*.~
*.tmp
.idea/
_book/
*.swp
*.edx
.DS_Store

!.vuepress/
.vuepress/.cache/
.vuepress/.temp/
.vuepress/dist/

node_modules/
package-lock.json
yarn.lock

docker-compose.override.yml
